 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: JetBrains Mono Nerd Font;
     color: #333;
     background-color: #ffffff;
     max-width: 1200px;
     margin: 0 auto;
     padding: 20px;
     transition: all 0.3s ease;
 }
 
 

